.SignUp {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(201, 230, 236);
    opacity: 0.9;
    
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .BackgroundSup {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQE39JMrep2Zhg/company-background_10000/0/1647846459365?e=2147483647&v=beta&t=zQuro9mJ1kHHKaHYKSA99NQe8EH6C3rNiDfOAO3d47Q");
    height:100%;
    width: 100%;
    /* background-size: initial; */
    background-size: contain;
    

  }